body {
    color: black;
    background-color: silver;
    
    font-family: 'BhuTuka Expanded One', cursive;
}

ul.barrita{
	list-style-type: none;
	margin: 0;
	padding: 1;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

ul.barrita li {
	font-size: 15px;
	border: 1px solid #e74c3c;
	display: block;
	padding: 8px;
	background-color: #dddddd;
	float: left;
}

h1,h3{
	color: Red; text-align: center; Background: #d35338;
}
h4{
	text-align: center;
	font-size: 100px;
    color: #FE7F88;
    background-color: transparent;
}
#par0{
	color: Blue; 
	text-align: center; 
	background: #FF813E;
	font-weight:bolder;
	border:5px solid Red;
	padding:10px;
	margin-top:30px;
	margin-bottom:40px;
	font-size:28px;
	width: 50%;
	border-radius:20px;
	
}
ul.navbar{
	position: absolute;
	top:2em;
	left:1em;
	width:9em;
}
a:link { 
    color: blue 
}
a:visited { 
    color: purple
}

table{
	border:  #bb8fce  5px solid;
	table-layout: fixed;
	width: 100%;
}
td{
	border: #e74c3c 1px solid;
	
}



p {
    font-size: 5em;
	text-align: center;
    color: #FE7F88;
    background-color: transparent;
}

div.fondo {
	
	background-image: url("https://wallpaperaccess.com/full/2000448.jpg");
	
	
}

a.button {
	
    background-color: #4CAF50; /* Green */
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
	
}

a.button1:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	
}